body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 242, 245);
    font-size: 20px;
}

h1 {
    color: rgb(7, 83, 83);
    font-weight: 700;
    margin-bottom: 100px;
}

img {
    width: 40%;
    float:right;
    position: absolute;
    top: 20%;
    right: 0;
}

.container {
    margin-top: 50px;
    padding: 0px 20px;
}