#container {
  height: 100%;
  display: flex;
  margin: 15% 15% 0% 15%;
}

#heading-section {
  width: 60%;
  margin-right: 50px;
  padding-top: 40px;
}

#heading-section > img {
  width: 300px;
  margin-left: -30px;
}

#login-section {
  width: 40%;
}

#form-section {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form > * {
  width: 100%;
}

h2 {
  font-size: 28px;
  font-weight: normal;
}

input {
  color: rgb(29, 33, 41);
  text-align: left;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 17px;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 5px;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-weight: 700;
}

#login-button {
  background-color: rgb(24, 119, 242);
  margin-top: 5px;
  font-size: 20px;
}

a {
  font-weight: bold;
}

form > a {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: rgb(24, 119, 242);
  margin: 15px 0px;
}

#line-break {
  border-top: 1px solid rgb(218, 221, 225);
}

#new-account-button {
  margin: 25px auto 5px auto;
  background-color: rgb(66, 183, 42);
  font-size: 17px;
  width: fit-content;
}

#create-page-section {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
}

#create-page-section a {
  text-decoration: none;
  color: black;
}
